* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  font-size: 20px;
}

.fondoquienes {
  background-image: url(../Multimedias/fondomarm.jpg);
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
}

.subtitulo {
  font: corsiva;
  font-size: 25px;
  color: #000;
  font-style: italic;
  text-align: center;
  display: block;
}

.subtitulo_indumentariayaccesorios {
  display: block;
  color: #000;
  text-align: center;
}

.contenido1 {
  display: block;
  max-width: 20%;
  margin-left: 20px;
}

.formulario {
  display: inline-block;
  vertical-align: text-bottom;
  margin-bottom: 100px;
  font-size: 40px;
}

.fondo {
  background-image: url(../Multimedias/fondocontac.jpg);
  background-size: cover;
}

.titulo3 {
  text-align: center;
  font-size: 45px;
  color: #000;
  height: 110px;
}

.maps {
  text-align: center;
  display: inline-block;
  width: 700px;
}

.contenedor_quienessomos {
  text-align: center;
}

.contenedor_contactos {
  text-align: center;
}

.contenedor_realizarpedidos {
  text-align: center;
}

section {
  background-image: url(../Multimedias/fondomarm.jpg);
}

.section_nuestrosproductos {
  width: 100%;
}

div:hover {
  border: solid 1px blue;
}

.contenedor_nuestrosproductos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-rows: min-content;
  row-gap: 15px;
}

.texto_nuestrosproductos {
  grid-row: 2/5;
  grid-column: 1/2;
  grid-template-rows: max-content;
}

.titulo_nuestrosproductos {
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
}

.topraso {
  grid-row: 2/3;
  grid-column: 2/3;
  grid-template-rows: min-content;
  text-align: center;
}

.imgtopraso {
  width: 290px;
}

.topdeport {
  grid-row: 2/3;
  grid-column: 3/4;
  text-align: center;
}

.topdeportivo {
  width: 280px;
}

.moños {
  grid-row: 4/5;
  grid-column: 2/4;
  text-align: center;
}

.imgmoños {
  width: 400px;
}

.portacosmeticos {
  grid-row: 3/4;
  grid-column: 3/4;
  text-align: center;
}

.imgporta {
  width: 380px;
}

.body {
  text-align: center;
  grid-row: 3/4;
  grid-column: 2/3;
}

.imgbody {
  width: 365px;
}

.imagen1 {
  width: 130px;
}

.fotohombre {
  width: 230px;
  justify-content: center;
}

.imagen3 {
  width: 180px;
}

.imagen4 {
  width: 250px;
}

@media only screen and (max-width: 468px) {
  nav {
    display: flex;
    background-image: url(../Multimedias/especialpadre.jpg);
    background-size: cover;
    width: 100%;
  }

  .index_header {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 15px;
  }
  .item {
    display: block;
    text-align: center;
    width: max-content;
    margin-left: 55px;
  }

  .item_index {
    width: 100%;
    display: flex;

    justify-content: center;
  }

  .titulo_index {
    width: min-content;
    display: block;
  }

  .ul_index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .textodiadelpadre {
    display: block;
    text-align: justify;
    margin-top: 15px;
  }
  .contenido_hombre {
    text-align: center;
    max-width: min-content;
    text-align: center;
    margin-left: 25%;
    font-style: oblique;
    animation-name: aparecer;
    animation-delay: 5s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .section_index {
    text-align: center;
    background-image: linear-gradient(white, blue);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .tituloventa {
    text-align: center;
    font-size: px;
  }

  .fotohombre {
    width: 208px;
    justify-content: center;
    transform: skew(10deg, 10deg);
    margin-top: 25px;
  }

  @keyframes aparecer {
    0% {
      opacity: 100%;
    }
    25% {
      opacity: 75%;
    }
    50% {
      opacity: 50%;
      width: 250px;
    }
    75% {
      opacity: 75%;
    }
    100% {
      opacity: 0%;
    }
  }

  .tituloredes {
    font-style: oblique;
    display: block;
    flex-direction: row;
  }

  .face {
    width: 40px;
  }
  .insta {
    width: 40px;
  }
  .correo {
    width: 40px;
  }
  .wpp {
    width: 40px;
  }
  .div_index_footer {
    background-image: url(../Multimedias/oro.jpg);
    background-size: cover;
    text-align: center;
    display: block;
    flex-direction: row;
  }
  a {
    font-size: 15px;
  }
  .derechos {
    text-align: justify;
  }
}

@media only screen and (min-width: 468px) and (max-width: 1023px) {
  nav {
    background-image: url(../Multimedias/especialpadre.jpg);
    display: flex;
    background-size: cover;
    width: 100%;
  }
  .item_index {
    display: flex;
    flex-direction: row;
  }
  .item {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 35%;
    margin-left: 23%;
    gap: 5%;
  }

  .index_header {
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    margin-right : 50%;
    width: max-content;
    text-align: center;
  }
  .titulo_index {
    width: min-content;
    display: block;
  }
  .textodiadelpadre {
    display: block;
    text-align: justify;
    margin-top: 15px;
  }
  .contenido_hombre {
    text-align: center;
    max-width: min-content;
    text-align: center;
    margin-left: 25%;
    font-style: oblique;
    animation-name: aparecer;
    animation-delay: 5s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .section_index {
    text-align: center;
    background-image: linear-gradient(white, blue);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .fotohombre {
    width: 208px;
    justify-content: center;
    transform: skew(10deg, 10deg);
    margin-top: 25px;
  }

  @keyframes aparecer {
    0% {
      opacity: 100%;
    }
    25% {
      opacity: 75%;
    }
    50% {
      opacity: 50%;
      width: 250px;
    }
    75% {
      opacity: 75%;
    }
    100% {
      opacity: 0%;
    }
  }

  .tituloredes {
    font-style: oblique;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
.redes{
  display: flex;
flex-direction: row;
}

  .face {
    width: 40px;
  }
  .insta {
    width: 40px;
  }
  .correo {
    width: 40px;
  }
  .wpp {
    width: 40px;
  }
  .div_index_footer {
    background-image: url(../Multimedias/oro.jpg);
    background-size: cover;
    text-align: center;
    display: block;
    flex-direction: row;
  }

  .derechos {
    text-align: justify;
  }
} 

@media only screen and (min-width: 1024px) {
  nav {
    display: flex;
    background-image: url(../Multimedias/especialpadre.jpg);
    background-size: cover;
    width: 100%;
  }
  .item_index {
    display: flex;
    flex-direction: row;
  }
  .item {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 35%;
    margin-left: 40%;
    gap: 20%;
  }

  .index_header {
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    margin-right : 50%;
    width: max-content;
    text-align: center;
  }
  .titulo_index {
    width: min-content;
    display: block;
  }
  .textodiadelpadre {
    display: block;
    text-align: justify;
    margin-top: 15px;
  }
  .contenido_hombre {
    text-align: center;
    max-width: min-content;
    text-align: center;
    margin-left: 25%;
    font-style: oblique;
    animation-name: aparecer;
    animation-delay: 5s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .section_index {
    text-align: center;
    background-image: linear-gradient(white, blue);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .fotohombre {
    width: 208px;
    justify-content: center;
    transform: skew(10deg, 10deg);
    margin-top: 25px;
  }

  @keyframes aparecer {
    0% {
      opacity: 100%;
    }
    25% {
      opacity: 75%;
    }
    50% {
      opacity: 50%;
      width: 250px;
    }
    75% {
      opacity: 75%;
    }
    100% {
      opacity: 0%;
    }
  }

  .tituloredes {
    font-style: oblique;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
.redes{
  display: flex;
flex-direction: row;
}

  .face {
    width: 40px;
  }
  .insta {
    width: 40px;
  }
  .correo {
    width: 40px;
  }
  .wpp {
    width: 40px;
  }
  .div_index_footer {
    background-image: url(../Multimedias/oro.jpg);
    background-size: cover;
    text-align: center;
    display: block;
    flex-direction: row;
  }

  .derechos {
    text-align: justify;
  }
}

/*---------------------RESPONSIVE-QUIENESSOMOS---------------------*/

@media only screen and (max-width: 468px) {
  nav {
    background-image: url(../Multimedias/especialpadre.jpg);
    display: flex;
    background-size: cover;
    width: 100%;
  }
  .index_header {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 15px;
  }
  .item {
    display: block;
    text-align: center;
    width: max-content;
    margin-left: 55px;
  }

  .item_index {
    width: 100%;
    display: flex;

    justify-content: center;
  }

  .titulo_index {
    width: min-content;
    display: block;
  }

  .ul_index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .textodiadelpadre {
    display: block;
    text-align: justify;
    margin-top: 15px;
  }
  .contenido_hombre {
    text-align: center;
    max-width: min-content;
    text-align: center;
    margin-left: 25%;
    font-style: oblique;
    animation-name: aparecer;
    animation-delay: 5s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .section_index {
    text-align: center;
    background-image: linear-gradient(white, blue);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .tituloventa {
    text-align: center;
    font-size: px;
  }

  .fotohombre {
    width: 208px;
    justify-content: center;
    transform: skew(10deg, 10deg);
    margin-top: 25px;
  }

  @keyframes aparecer {
    0% {
      opacity: 100%;
    }
    25% {
      opacity: 75%;
    }
    50% {
      opacity: 50%;
      width: 250px;
    }
    75% {
      opacity: 75%;
    }
    100% {
      opacity: 0%;
    }
  }

  .tituloredes {
    font-style: oblique;
    display: block;
    flex-direction: row;
  }

  .face {
    width: 40px;
  }
  .insta {
    width: 40px;
  }
  .correo {
    width: 40px;
  }
  .wpp {
    width: 40px;
  }
  .div_index_footer {
    background-image: url(../Multimedias/oro.jpg);
    background-size: cover;
    text-align: center;
    display: block;
    flex-direction: row;
  }
  a {
    font-size: 15px;
  }
  .derechos {
    text-align: justify;
  }
}

@media only screen and (min-width: 468px) and (max-width: 1023px) {
  nav {
    background-image: url(../Multimedias/especialpadre.jpg);
    display: flex;
    background-size: cover;
    width: 100%;
  }
  .item_index {
    display: flex;
    flex-direction: row;
  }
  .item {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 35%;
    margin-left: 23%;
    gap: 5%;
  }

  .index_header {
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    margin-right : 50%;
    width: max-content;
    text-align: center;
  }
  .titulo_index {
    width: min-content;
    display: block;
  }
  .textodiadelpadre {
    display: block;
    text-align: justify;
    margin-top: 15px;
  }
  .contenido_hombre {
    text-align: center;
    max-width: min-content;
    text-align: center;
    margin-left: 25%;
    font-style: oblique;
    animation-name: aparecer;
    animation-delay: 5s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .section_index {
    text-align: center;
    background-image: linear-gradient(white, blue);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .fotohombre {
    width: 208px;
    justify-content: center;
    transform: skew(10deg, 10deg);
    margin-top: 25px;
  }

  @keyframes aparecer {
    0% {
      opacity: 100%;
    }
    25% {
      opacity: 75%;
    }
    50% {
      opacity: 50%;
      width: 250px;
    }
    75% {
      opacity: 75%;
    }
    100% {
      opacity: 0%;
    }
  }

  .tituloredes {
    font-style: oblique;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
.redes{
  display: flex;
flex-direction: row;
}

  .face {
    width: 40px;
  }
  .insta {
    width: 40px;
  }
  .correo {
    width: 40px;
  }
  .wpp {
    width: 40px;
  }
  .div_index_footer {
    background-image: url(../Multimedias/oro.jpg);
    background-size: cover;
    text-align: center;
    display: block;
    flex-direction: row;
  }

  .derechos {
    text-align: justify;
  }
}
